@font-face {
  font-family: "Rocket";
  src: url(/ROCKET\ WILDNESS.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 60, 62, 66;
  --background-start-rgb: 233, 236, 247
  --background-end-rgb: 233, 236, 247
  --accent-dark-rgb: 255, 234, 0;
  --accent-light-rgb: 0, 213, 216
}


body {
  background-color: rgb(233, 236, 247);
  color: rgb(26, 28, 35);
  letter-spacing: "wider";
  /* transition: background 0.25s ease-in-out; */
}

body.dark {
  background-color: rgb(26, 28, 35); /* Dark background color */
  color: rgb(233, 236, 247); /* Light text color */
  /* border-color: var(--accent-dark-rgb); */
}

/* 
body:not(.dark-mode) {
  border-color: var(--accent-light-rgb);
} */


/* Customize the toggle switch appearance */
#darkModeToggle:checked + label .w-5 {
  transform: translateX(75%); /* Move the toggle to the right for dark mode */
}



#darkModeToggle:checked + label .fa-moon {
  display: inline-block; 
}

#darkModeToggle:checked + label .fa-sun {
  display: none; 
}

#darkModeToggle:not(:checked) + label .fa-moon {
  display: none; 
}

#darkModeToggle:not(:checked) + label .fa-sun {
  display: inline-block; 
}

#hover-underline {
  position: relative;
  text-decoration: none;
  /* color: rgb(248, 232, 50); Set your desired text color */
}

#hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgb(0, 213, 216); /* Change this to your desired underline color */
  transform: scaleX(0);
  transition:  0.4s ease-in-out;
}
body.dark #hover-underline::after{
  background-color: rgb(255, 234, 0);; /* Change this to your desired underline color */
}

#hover-underline:hover::after {
  transform: scaleX(1);
}

.font{
  font-family: "Rocket";
}

nav {
  /* font-family: "Orbitron"; */
  font-weight: 100;
  /* background-color: rgb(233, 236, 247); */
}

/* .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(233, 236, 247, 0.9) 0%,
    rgba(233, 236, 247, 0.6) 25%,
    rgba(233, 236, 247, 0.4) 50%,
    rgba(233, 236, 247, 0.2) 75%,
    rgba(233, 236, 247, 0) 100%
  );
}

.dark .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(26, 28, 35, 0.9) 0%,
    rgba(26, 28, 35, 0.6) 25%,
    rgba(26, 28, 35, 0.4) 50%,
    rgba(26, 28, 35, 0.2) 75%,
    rgba(26, 28, 35, 0) 100%
  );
} */

.inverted-image {
  filter: invert(1);
}

.dark .inverted-image {
  filter: invert(0);
}

.bw-image {
  filter: grayscale(100%);
}


.radial-gradient {
  background: radial-gradient(ellipse at center, rgba(233, 236, 247, 0) 0%, transparent 1%, rgba(233, 236, 247, 1) 70%, rgba(233, 236, 247, 1) 100%);
  background-size: cover;
}

.dark .radial-gradient {
  background: radial-gradient(ellipse at center, rgba(26, 28, 35, 0) 0%, transparent 1%, rgba(26, 28, 35, 1) 70%, rgba(26, 28, 35, 1) 100%);
  background-size: cover;
}



/* .linear-gradient {

  background: linear-gradient(to bottom, rgba(233, 236, 247, 1) 0%, rgba(233, 236, 247, 0) 50%, rgba(233, 236, 247, 1) 100%);
}

.dark .linear-gradient {
  background: linear-gradient(to bottom, rgba(26, 28, 35, 1) 0%, rgba(26, 28, 35, 0) 50%,  rgba(26, 28, 35, 1) 100%);
} */






.shadow-neumorphic {
  box-shadow: 5px 5px 10px #b8c4ce,
  -5px -5px 10px rgb(233, 236, 247),
  2px 2px 2px 0px rgb(233, 236, 247) inset,
  -2px -2px 2px 0px #b8c4ce inset
}

.dark .shadow-neumorphic {
  box-shadow: 5px 5px 10px rgb(0, 0, 0),
  -5px -5px 10px rgb(48, 51, 58),
  2px 2px 2px 0px rgb(48, 51, 58) inset,
  -2px -2px 2px 0px rgb(0, 0, 0) inset
}

.text-neumorphic {
  text-shadow: 5px 5px 10px #b8c4ce,
  -5px -5px 10px rgb(233, 236, 247)
  
}

.dark .text-neumorphic {
  text-shadow: 5px 5px 10px rgb(0, 0, 0),
  -5px -5px 10px rgb(48, 51, 58)
}


#card:hover #desc{
  opacity: 100%;
}

#card:hover #title{
  opacity: 0%;
}

 /* #card:hover #title{
  color: rgb(0, 213, 216);
} */

.hexagon:hover{
  margin:20px;
}



.hexagon {
    height: 250px;
    width: 250px;
    filter: drop-shadow(5px 5px 10px rgba(184, 189, 204, 0.4));
    
    
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(-120deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%),
              linear-gradient(-120deg, rgb(227, 232, 250) 0%, rgb(233, 236, 247) 100%);
        
        
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        transition: transform 0.3s ease-in-out;
    }
    &:hover {
      transform: scale(1.2);
      
     }
     
    }

.dark .hexagon {
      filter: drop-shadow(-2px 7px 10px rgba(0, 0, 0, 0.5));
      
      
      &::before {
          content: '';

          background: linear-gradient(-120deg, rgba(22, 25, 30, 0.8) 0%, rgba(26, 28, 35, 0) 100%),
                linear-gradient(-120deg, rgb(22, 25, 30) 0%, rgb(26, 28, 35) 100%);
          
          
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      }}
  
  